
header {
    background: url(img/background2.jpg);
    height: 500px;

    background-size:cover;

}


 body {

    font-family: fantasy;
    

}

/* html,
body {
    height: 100%;
}  */
.typo{

width: 60%;    
}

.category {
    width: 100rem;

}

.navbar {
    height: 30%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(206, 206, 206, 1) 100%);
}

.nameSite {
    position:relative;
  
}

.imgTab {
    width: 600px;
    height: 500px;

}

.miniatureTarif{
    width:110px;
	height:100px;

}

.corps {
    height: 500px;
}

.photo {
    height: 30%;
    width: 30%;
}

.photoCard {
    height: 80%;
    width: 80%;
}

.logo {
    margin-left: -80px;
    height: 50%;
    width: 20%;
}


.carousel-inner {
    height: 700px;
}

.footerHome {
    /* Height of the footer */
    flex-shrink: 0;
    background: rgb(206, 206, 206);
    background: linear-gradient(0deg, rgba(206, 206, 206, 1) 39%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 10rem;
}

.footerApropos {
    /* Height of the footer */
    flex-shrink: 0;
    background: rgb(206, 206, 206);
    background: linear-gradient(0deg, rgba(206, 206, 206, 1) 39%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 10rem;
}

.footerTarifs {
    /* Height of the footer */
    flex-shrink: 0;
    background: rgb(206, 206, 206);
    background: linear-gradient(0deg, rgba(206, 206, 206, 1) 39%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 50rem;
}


.footerMentionLegal {
    /* Height of the footer */
    flex-shrink: 0;
    background: rgb(206, 206, 206);
    background: linear-gradient(0deg, rgba(206, 206, 206, 1) 39%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 10rem;
}

.adresse {
    font-size: x-large;
}

.vertical {
    border-right: 2px solid black;
    height: 400px;
    display: inline-block;
}

.vertical1 {
    border-left: 2px solid black;
    height: 400px;
    display: inline-block;
}

.logoFooter {
    height: 10rem;
    width: 15rem;
}

.logoFB {
    height: 10rem;
    width: 15rem;

}

.cardTab {
    width: 70rem;
    height: 70rem;
}

.photoCardCat {
    height: 40rem;
    width: 50rem;
}
.photoCardCatArray {
    height: 30rem;
    width: 30rem;
}

.cardTarif {
    width: 30rem;
    height: 25rem;
}

.imgTarif {
    width: 15rem;
    height: 15rem;
}

.modalTarifs {
    height: 100%;
    width: 100%;
}

#imgPreviewPicture {
    width: 150px;
    max-height: 150px;

}

#imgPreviewMini {
    width: 150px;
    max-height: 150px;

}

.upload {
    height: 600px;
    box-shadow: 6px 6px 0px rgb(237, 233, 233)k;
}


#global {
    overflow: auto;
}

#left {
    float: left;
    width: 50%;
}

#right {
    overflow: auto;
}

.btnAccessPresta {
    background: #999996
}

.btnDeletePresta {

    background: #2c2b29
}









.wrap {

    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    width: 240px;
    height: 55px;

    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #2c2b29;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btns:hover {
    background-color: #e6ddd2;
    box-shadow: 0px 15px 20px rgba(44, 80, 66, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}

.btnd {
    width: 240px;
    height: 55px;

    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #999996;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnd:hover {
    background-color: #db7968;
    box-shadow: 0px 15px 20px rgba(44, 80, 66, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}


.tarifMassage {
    width: 220px;
    height: 220px;

}

/* NAVBAR RESPONSIVE */

  
  .nav {
    height: 10%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(206, 206, 206, 1) 100%);

  }
  
  
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {

    float: right;
    font-size:40px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: auto;
      height: 10px;
      border-top: 2px solid rgb(0, 0, 0);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: auto;
      background: rgb(255, 255, 255);

      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: auto;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  /* menu deroulant navbar */

  .dropdown-menu{
      
     width: 25rem;
  }
  .test{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 1%, rgba(206, 206, 206, 1) 100%);
  }